/*
   Practical 1A
   Kinley's Coffee Cafe
   Filename: KCC_overlay.css

   This file contains the base styles used by all pages in the website

*/

/* *************************************************************
	Base layout styles used by mobile devices
	up to 480px and cascaded to larger devices 
	unless superceded by other styles.
   *************************************************************
*/

@charset "utf-8";
html {
	height: 100%;
	font-size: 14px;
}
img, object, embed, video {
	max-width: 100%;
}
body {
	margin-left: auto;
	margin-right: auto;
	width: 81.9%;
	padding-left: 4.55%;
	padding-right: 4.55%;
	clear: none;
	float: none;
	min-height: 100%;
}
nav {
	width: 25%;
	float: left;
	margin: 6% 2% 0% 0%;
}
article {
	width: 73%;
	float: left;
	font-size: 0.8em;
	text-align: left;
}

nav ul li {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 0.8em;
}

nav ul li a {
	color: #222;
	text-decoration: none;
	display: block;
	margin-bottom: 8%;
}
nav ul li a:visited {
	color: #222;
}
nav ul li a:hover {
	background-color: #b34a48;
	color: white;
}
nav ul li a:focus {
	outline: thin dotted;
}
nav ul li a:hover, nav ul li a:active {
	outline: 0;
}
body h1 {
	margin: 1%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 1.5em;
}

body article h1 {
	font-size: 1.15em;
}

header img {
	float: none;
	width: 96%;
	margin: 2% 2% 0% 2%;
}
body p, body address {
	margin: 3.5% 1%;
	font-size: 1em;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-style: normal;
	height: 100%;
}
dl {
	margin-left: 2%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
dt {
	display: block;
	margin: 0;
	text-indent: 0;
	font-weight: bold;
	border-bottom: 1px solid rgba(168, 168, 168,1.00);
}
dd {
	display: block;
	margin: 0 0 3% 3%;
	text-indent: 0;
}

footer {
	text-align: center;
	font-size: 0.6em;
	margin-top: 4%;
	border-top: 3px outset #cf7b79;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	clear: both;
	padding-bottom: 20px;
}

article aside h1 {
	display: none;
}

article div {
	border-bottom: 1px solid rgb(151, 151, 151);
}

article div:first-of-type {
	margin-top: 30px;
}

article div h1 {
	font-size: 1em;
	font-weight: bold;
}

article p, article address {font-family: "Times New Roman", Times, serif;}
/* *************************************************************
	Tablet layout styles used by devices
	481px to 768px and cascaded to larger 
	devices.
   *************************************************************
*/


@media only screen and (min-width: 481px) {
html, body {
	font-size: 16px;
}

body {
	width: 89.9%;
	padding-left: 1.55%;
	padding-right: 1.55%;
	clear: none;
	float: none;
	margin-left: auto;
}

header h1 {
   font-size: 2.2em;
}

body article h1 {
   font-size: 1.75em;
}

article {
	width: 94%;
	float: none;
	margin: 0px auto;
}
dl#ct_locations {
	width: 57%;
	margin: 0px 0px 0px 20px;
}
dl {
	width: 90%;
    margin: 0 auto;
	text-align: left;
}
article img {
	float: right;
	width: 40%;
	margin: 0% 2% 2% 2%;
}
nav ul li {
	display: table-cell;
	width: 15%;
	text-align: center;
	margin-right: 2%;
	border: thin solid rgba(127,96,17,1.00);
	border-collapse: collapse;
}
nav ul li a {
	margin-bottom: 0;
}
nav {
	display: table;
	width: 96%;
	margin: 0 auto;
	float: none;
}
nav ul {
	display: table-row;
	margin: 0;
}
nav ul li:last-of-type {
	margin-right: 0%;
}

article ul {
	margin-top: -20px;
}

article aside {
	float: right;
	margin: 0 0 20px 20px;
	padding: 1%;
	border: 1px solid rgb(251, 151, 151);
	width: 35%;
	font-size: 0.9em;
	background-color: #ffdcdb;
}

article aside h1 {
	display: block;
	font-size: 1em;
	text-align: center;
	border-bottom: 1px solid rgb(111, 111, 111);
}

article div {
	float: left;
	width: 30.3%;
	margin: 0% 1% 2% 1%;
	border: 1px solid rgb(151, 151, 151);
}

article div:first-of-type {
	margin-top: 0%;
}

article div h1 {
	text-align: right;
	font-weight: normal;
	font-size: 1em;
	border-bottom: 1px solid rgb(151, 151, 151);
	background-color: #ffdcdb;
}

article div p {
	font-size: 0.85em;
	text-align: left;
}

footer {
	font-size: 0.9em;
}
}



/* *************************************************************
	Desktop layout styles used by  devices
	769px and larger.
   *************************************************************
*/

@media only screen and (min-width: 769px) {
html, body {
	font-size: 20px;
}

html {
	background-color: #953e3c;
	margin: 0px auto;
}
body {
	width: 88.2%;
	max-width: 900px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: 0px auto auto auto;
	clear: none;
	float: none;
	background-color: white;
	-moz-box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px;
	-webkit-box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px;
	box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px;
}

article div h1 {
	font-size: 1.1em;
}

article div p {
	font-size: 0.95em;
}

}
